---
---

@import "{{ site.theme }}";
aside{
    background-color: #000;}
// .box{
//     border: solid;
//     display:inline-block;
//     width: 450px;
//     height: 300 ;
// }

// .box{
 
//      display:inline-block;
//      border: border-box;
//      width: 50%;
//      box-sizing: border-box;
//      display: table;    
//      height: 300px;  
//      float: left;
// }



.box{
    float: left;
     display:inline-block;
    border: border-box;
    width: 50%;
   box-sizing: border-box;
    display: table;    height: 300px;  
      padding: 10px;
    
}
